<div id="tab-sections" class="hidden">
    <h1>{{ 'Sections'|t }}</h1>
    <p>Hieronder worden de secties weergegeven die ge&iuml;nstalleerd zullen worden.</p>
    <hr>

    {% for sectionName, section in moduleInformation.sections %}
        {{ forms.textField({
            label: section.name ~ ' (' ~ section.type ~ '): ' ~ section.label,
            instructions: section.info,
            name: sectionName,
            value: section.label
        }) }}
        {{ forms.textField({
            label: 'URL-Formaat',
            instructions: 'Hoe de entry URL eruit zou moeten zien.',
            name: sectionName ~ 'UrlFormat',
            value: section.urlFormat
        }) }}
        <hr>
    {% endfor %}

    {{ forms.textField({
        label: moduleInformation.templateGroup.label,
        instructions: moduleInformation.templateGroup.info,
        name: moduleInformation.templateGroup.name,
        value: moduleInformation.templateGroup.value
    }) }}
</div>